---
title: Project NextLeap - 32C3
---

<iframe width="853" height="480" src="https://media.ccc.de/v/32c3-7300-hacking_eu_funding_for_a_decentralizing_foss_project/oembed" frameborder="0" allowfullscreen></iframe>

<p>
<%= link_to "Source", "https://media.ccc.de/v/32c3-7300-hacking_eu_funding_for_a_decentralizing_foss_project", :target => '_blank' %>
</p>
