@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Lato-300/Lato-300.eot');
  src: url('../fonts/Lato-300/Lato-300.eot?#iefix') format('embedded-opentype'),
       local('Lato Light'),
       local('Lato-300'),
       url('../fonts/Lato-300/Lato-300.woff2') format('woff2'),
       url('../fonts/Lato-300/Lato-300.woff') format('woff'),
       url('../fonts/Lato-300/Lato-300.ttf') format('truetype'),
       url('../fonts/Lato-300/Lato-300.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato-regular/Lato-regular.eot');
  src: url('../fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('../fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('../fonts/Lato-regular/Lato-regular.woff') format('woff'),
       url('../fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('../fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Raleway-300/Raleway-300.eot');
  src: url('../fonts/Raleway-300/Raleway-300.eot?#iefix') format('embedded-opentype'),
       local('Raleway Light'),
       local('Raleway-300'),
       url('../fonts/Raleway-300/Raleway-300.woff2') format('woff2'),
       url('../fonts/Raleway-300/Raleway-300.woff') format('woff'),
       url('../fonts/Raleway-300/Raleway-300.ttf') format('truetype'),
       url('../fonts/Raleway-300/Raleway-300.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Raleway-regular/Raleway-regular.eot');
  src: url('../fonts/Raleway-regular/Raleway-regular.eot?#iefix') format('embedded-opentype'),
       local('Raleway'),
       local('Raleway-regular'),
       url('../fonts/Raleway-regular/Raleway-regular.woff2') format('woff2'),
       url('../fonts/Raleway-regular/Raleway-regular.woff') format('woff'),
       url('../fonts/Raleway-regular/Raleway-regular.ttf') format('truetype'),
       url('../fonts/Raleway-regular/Raleway-regular.svg#Raleway') format('svg');
}

@font-face {
  font-family: 'OCRAEXT';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/OCRAEXT/OCRAEXT.TTF') format('truetype');
}
