---
title: Project NextLeap - Objectives
---

<div class="row column">
  <h2>Objectives</h2>
</div>
<hr>

<div class="row">

  <div class="medium-6 columns">
<h5>NEXTLEAP pursues three main objectives:</h5>
  <p>
    <ol>
      <li><h6>The creation of a fundamental rights-preserving socio-technical science of decentralised internet architecture.</h6></li>
      <li><h6>A fundamental re-thinking of the ethical and philosophical foundations of the Internet.</h6></li>
      <li><h6>The modular specification of decentralised protocols implemented as open-source software modules for</h6>
        <ol type='a'>
          <li>Privacy-preserving contact lists and presence services supporting federated identity</li>
          <li>Secure messaging services that hide metadata (e.g., who, when, how often, etc.)</li>
          <li>Privacy-preserving analytics collection and computation.</li>
        </ol>
      </li>
    </ol>
  </p>

  <p class="text-justify">
    The technical solutions developed by NEXTLEAP will be rooted in both philosophy
    and real-world usage of the Internet. In this aspect the project partners will strive to answer the following questions:
  </p>
</div>
<div class="medium-6 columns">
    <ul>
    <li><strong>what motivations and values can be used to predict successful adoption of
    decentralised systems by communities of users?</strong> While it appears users are
    often unhappy with losing control of their data to companies that own
    centralised platforms, very few users do move to alternatives and what
    precisely the social success or failure of a system is unclear.</li></p>
    <p>
    <li><strong>Is there a decentralised philosophy at the core of the Internet that makes
    sense of the success of existing protocols?</strong> It is claimed that values
    around collective intelligence, open innovation, privacy, and
    decentralisation are built into Internet protocols, but the precise
    philosophical grounding of these principles – and any new kinds of
    “internet rights” they entail - is often vague.</li>
    </ul>
    It is answers to these questions that are crucial for building succcessful protocols and systems that are adopted by citizens. The NEXTLEAP protocol will verify that the designed protocols have the properties required to guarantee
    the rights and needs elicited from the answers to the above questions.
  </p>

</div>
<div class="row">
  <hr>
  <div class="medium-6 columns">
  <p class="text-justify">
    <h5>The main technical questions NEXTLEAP will strive to answer are the following:</h5>
    <ul>
    <li><strong>Can decentralisation help privacy and anonymity?</strong>
    While intuitively many people claim that decentralisation helps privacy,
    actually recent research shows that de-anonymisation and surveillance is
    actually easier on decentralised networks.</li></p>
    <p>
    <li><strong>How can we build scalable, high-performing, and secure decentralised
    architectures based on verified protocols?</strong>
    Decentralisation typically has impact on the performance of the system with
    respect to centralised solution. Necessary security properties need to be
    proven in many protocols, and then also hold as part of a larger
    heterogeneous system.</li>
    </ul>
    These aspects are hard to understand by users and developers. The modular components and automated analysis developed in NEXTLEAP will help building secure and privacy-preserving Internet services.
  </p>
</div>
<div class="medium-6 columns">
   <%= image_tag 'nextleap_schema_silo.png', :class => 'float-right thumbnail', :id =>'nextleap_schema_silo' %>
 </div>
</div>
<div class="row">
  <hr>
 <div class="medium-6 columns">
<p class="text-justify">
    <h5>The three technical building blocks that NEXLEAP will output respond to the following questions:</h5>
    <ul>
    <li>An address-book (“friends”, social graph, contacts, etc.)
    is the fundamental building block for any messaging protocol. Such an
    addressbook can be based on a sharable identifier ranging from
    user@example.org to a hash of a public key (as used in Bitcoin).
    Currently, identities and their addressbooks that contain information such
    as public key material typically are centralised and, if decentralised, not
    accessed in a privacy-preserving manner. <strong> Can we achieve a breakthrough to
    allow users to keep track of their contacts without losing their rights or
    becoming part of a centralised silo?</strong> </li></p>

  <p>  <li><strong>How can a person send secure messages to others, regardless of what system
    they are using?</strong> These messages need to be end-to-end encrypted, resistant
    to ‘metadata’ analysis, and may have a number of properties such as forward
    secrecy and future secrecy. While currently a number of secure next
    generation protocols exist such as Signal’s Axolotl are emerging,
    existing secure messaging systems are incompatible and so lead to silos
    between systems such as CryptoCat, Signal, and Telegram.
    Existing interoperable protocols like SMTP (e-mail) are by default
    non-encrypted and leak metadata. <strong>Can we unify a protocol that starts with
    e-mail and goes all the way to secure messaging?</strong></li>
</p>
</div>
<div class="medium-6 columns">
<p>
    <li>Lastly, much of the drive towards centralisation in Internet-based systems
    is also driven by practical needs to harness the collective ‘wisdom of the
    crowds’, improve their system, and to ‘know your user.’ However, even those
    that run the system are typically not interested in the personal data of
    individual users, but only in answering questions about groups. <strong>Can we
    create privacy-preserving analytics that can harness the power of
    machine-learning for good while respecting the rights of their users?</strong></li>
  </p>
</div>
<div class="medium-6 columns">
   <%= image_tag 'schemanextleap.png', :class => 'float-right thumbnail', :id =>'nextleap_schema' %>
 </div>
 </div>
