---
title: Project NextLeap - Resources
---

<div class="row column">
  <h2>Resources</h2>
</div>
<hr>
<div class="row">
  <div class="medium-4 columns">
    <% link_to '/res/resources/NEXTLEAP-slides.pdf', :target => '_blank', :title => 'NexlLeap slides' do %><%= image_tag 'resources/slides_thumbnail_220x220.png', :class=> 'thumbnail' %><% end %>
    <h3>Project presentation slides</h3>
    <p><% link_to '/res/resources/NEXTLEAP-slides.pdf', :target => '_blank', :title => 'NexlLeap slides' do %>Click to open the NextLeap project presentation slides.<% end %></p>
  </div>
  <div class="medium-4 columns">
    <% link_to '/res/resources/NEXTLEAP-factsheet.pdf', :target => '_blank', :title => 'NexlLeap factsheet' do %><%= image_tag 'resources/factsheet_thumbnail_220x220.png', :class=> 'thumbnail' %><% end %>
    <h3>Project factsheet</h3>
    <p><% link_to '/res/resources/NEXTLEAP-factsheet.pdf', :target => '_blank', :title => 'NexlLeap factsheet' do %>Click to open factsheet pdf.<% end %></p>
  </div>
  <div class="medium-4 columns">
    <% link_to '/resources/nextleap_enmi.html#id=s_FFA29D58-1392-541B-4133-B8025FE1620B&t=13581.927', :title => 'NexlLeap @ ENMI' do %><%= image_tag 'resources/enmi_nextleap_thumbnail_220x220.png', :class=> 'thumbnail' %><% end %>
    <h3>Presentation of NextLeap at ENMI 2015</h3>
    <p><% link_to '/resources/nextleap_enmi.html#id=s_FFA29D58-1392-541B-4133-B8025FE1620B&t=13581.927', :title => 'NexlLeap @ ENMI' do %>Click to open the video.<% end %></p>
  </div>
</div>
<div class="row">

  <div class="medium-4 columns">
    <% link_to '/resources/nextleap_32c3.html', :title => 'NexlLeap @ ENMI' do %><%= image_tag 'resources/32c3_nextleap_thumbnail_220x220.png', :class=> 'thumbnail' %><% end %>
    <h3>Hacking EU funding for a decentralizing FOSS project</h3>
    <p>
      A video of Holger Krekel (Merlinux) presenting "Hacking EU funding for a decentralizing FOSS project" at the 32c3 (Chaos Computer Congress 32).
      <% link_to '/resources/nextleap_32c3.html', :title => 'NexlLeap @ ENMI' do %>Click to open the video.<% end %>
    </p>
  </div>

</div>
