---
title: Project NextLeap - Resources
---

<div class="row column">
  <h2>Resources</h2>
</div>
<hr>
<div class="row">
  <div class="medium-4 columns">
    <img class="thumbnail" src="http://placehold.it/220x220">
    <h3>Publication 1</h3>
    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
  </div>
  <div class="medium-4 columns">
    <img class="thumbnail" src="http://placehold.it/220x220">
    <h3>Publication 2</h3>
    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
  </div>
  <div class="medium-4 columns">
    <img class="thumbnail" src="http://placehold.it/220x220">
    <h3>Publication 3</h3>
    <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
  </div>
</div>
