---
title: Project NextLeap - Tasks
---

<div class="row column">
  <h2>Tasks</h2>
</div>
<hr>
<div class="row">
    <div class="medium-6 columns">
  <p class="text-justify">
    Each of the <a href="/objectives.html">three core protocols</a> developed in NEXTLEAP will be based on sociological case-studies of users and software projects, including other CAPS projects.</p>
    <p>The values in the protocols will emerge both from a systematization of the philosophy of the Internet (based on the work of French philosopher Bernard Stiegler) as well as a crowd-sourced discussion of net rights.</p>
    <p>For each protocol, there will be a specification that will be both formally verified for security properties as well as an analysis in terms of privacy, interpretation and scalability. These protocols will be implemented in running code and deployed with real users, and submitted to open standards bodies such as the IETF and W3C.</p>
    <p>They can then serve as the building blocks for other CAPS projects and wider software development.  Intensive education and outreach to policy-makers, developers, academics and the general public will raise awareness of the values of decentralisation, security, and privacy – and a new kind of Internet.</p>
  </p>
</div>
  <div class="medium-6 columns">
  <p> NEXTLEAP is divided in the following work packages that tackle the above tasks.
    <ol>
      <li>Project Management (INRIA)</li>
      <li>Science of Decentralized Architectures (UCL)</li>
      <li>Social Design and Philosophical Foundations of Decentralization (CNRS)</li>
      <li>Validation via Formal Modelling and Simulation (IMDEA Software Institute)</li>
      <li>Open Source Code and User Validation (Merlinux)</li>
      <li>Outreach and Dissemination (IRI)</li>
    </ol>
  </p>
</div>
</div>
