<% wrap_layout :layout do %>
<div class="row column">
  <h2>Event</h2>
</div>
<hr>
<div class="row column">
  <h3><%= current_article.title %></h3>
  <h4 class="subheader"><%= current_article.date.strftime('%Y/%m/%d')%></h4>
</div>
<div class="row column">
  <%= image_tag current_article.data.image || "https://placehold.it/850x350", :class => 'thumbnail' %>
  <p>
    <%= yield %>
  </p>
</div>
<% end %>
